/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #fff;
}

header {
    background-color: #e10600; /* Red */
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

header .logo img {
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

#scoreboard {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.score-card {
    background-color: #333;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.score-card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #f8e71c; /* Yellow */
}

.score-card p {
    font-size: 16px;
    color: #fff;
}

footer {
    background-color: #e10600; /* Red */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.loading {
    font-size: 20px;
    color: #0073e6; /* Blue */
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    .score-card {
        margin: 10px auto;
        width: 80%;
    }
}
